name: Publish to pypi
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-publish:
    name: Build and publish
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push commits and tags
      id-token: write # Needed for trusted publishing
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for source code changes
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files_ignore: |
            README.md

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build python-semantic-release
      - name: Create Release
        id: release
        uses: relekang/python-semantic-release@v9.8.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
      - name: Build package
        if: steps.release.outputs.released == 'true'
        run: python -m build
      - name: Publish package to PyPI
        if: steps.release.outputs.released == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}